<a href="/products">Ir a la lista -></a>
<h1>Ingrese el Producto: </h1>
<form action="/products" method="post">
      <!-- Cambiar propiedades -->
      <label for="title">Title:</label><br>
      <input type="text" id="title" name="title"><br>
      <label for="price">Price:</label><br>
      <input type="text" id="price" name="price"><br>
      <label for="thumbnail">Thumbnail:</label><br>
      <input type="text" id="thumbnail" name="thumbnail">
      <input type="submit" value="Upload">
</form>
<br>